.main{
    width: 50%;
    margin:50px auto;
    border: 1px solid black;
    padding:20px;
}
.search{
    padding:20px;
}
table{
    margin:50px auto;
}
table,th,td{
border-collapse: collapse;
border: 1px solid #000;
}
th,td{
    padding: 5px;
}